{% include 'full-page.html' %}
{% include 'navbar.html' %}
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <br>
    <h1 class="title">Submit a bot.</h1>
    <h2 class="subtitle">Show your bot to the world.</h2>
    <br>
    <h1 class="title">Required</h1>
    <form action="/api/add" method='POST'>
    <div class="field">
      <input name="bot-name" class="input" type="text" placeholder="Bot Name">
      <input name="client-id" class="input" type="text" placeholder="Bot ID">
      <input name="profile" class="input" type="text" placeholder="Profile picutre">
      <input name="invite-url" class="input" type="text" placeholder="Invite URL">
      <div class="is-divider" data-content="Support"></div>
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              discord.gg/
            </a>
          </p>
          <p class="control is-expanded">
            <input name="support-link" class="input" type="text" placeholder="hghDFg">
          </p>
        </div>
        <div class="is-divider" data-content="Invite"></div>
        <h1 class="title">Optional</h1>
        <input name="prefix" class="input" type="text" placeholder="Command Prefix">
        <div class="is-divider" data-content="Website"></div>
        <input name="website-url" class="input" type="text" placeholder="Website">
        <div class="is-divider" data-content="Bot Information"></div>
        <textarea name="description" class="textarea" placeholder="Bot Description"></textarea>
        <br>
        <input type="submit" class="button is-link" value="Submit">
      </form>
      </div>
    </div>
</div>
