<!DOCTYPE html>
<html>
    {% include 'full-page.html' %}
    {% include 'navbar.html' %}
  <body>
    <br>
    <div class="columns is-mobile is-centered">
      <div class="column is-one-third">
        {% for item in items %}
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{item['name']}} | {{item['_id']}}
            </p>
            </a>
          </header>
          <div class="card-content">
            <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="{{item['profile_url']}}" alt="Profile">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{item['name']}}</p>
                  </div>
                </div>
            <div class="content">
              {{item['description']}}
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{item['invite_url']}}" class="card-footer-item">Invite Link</a>
            <a href="/api/pending/accept/{{item['_id']}}" class="card-footer-item">Accept</a>
            <a href="/api/pending/decline/{{item['_id']}}" class="card-footer-item">Decline</a>
          </footer>
        </div>
        <br>
        {% endfor %}
        <h1 class='title'>Looks like you reached the end D:</h1>
      </div>
    </div>
  </body>
</html>
