<!DOCTYPE html>
<html>
    {% include 'full-page.html' %}
    {% include 'navbar.html' %}
    <body>
        <section class="hero is-dark">
                <div class="hero-body">
                    <div class="container">
                    <h1 class="title">
                        API Documentation.
                    </h1>
                    </div>
                </div>
            </section>
        <div style="padding-left: 5vw; padding-right: 5vw;" class="columns is-multiline is-centered">
                <div class="content">
                    <br>
                    <p>Make a post request to /api/guilds/bot_id and a header called guilds for the amount of guilds the bot is in. Another header for authorization should be called token and should contain the token that is provided below.</p>
                    <br>
                    <h3>Example</h3>
                    <pre>
                    import requests

                    url = "http://bots.you-dont-see.me/api/guilds/569"

                    headers = {
                        'token': "token",
                        'guilds': "3534534"
                        }

                    response = requests.request("POST", url, headers=headers)

                    print(response.text)
                    </pre>
                </div>
            </div>
    </body>
</html>