<!DOCTYPE html>
<html>
    {% include 'full-page.html' %}
    {% include 'navbar.html' %}
  <body>
        <section class="hero is-dark">
                <div class="hero-body is-dark">
                        <div class="container">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{data['profile_url']}}">
                            </figure>
                        <h1 class="title white">{{data['name']}}</h1>
                        <span class="tag is-info is-medium">Prefix: {{data['prefix']}}</span>
                        <span class="tag is-info is-medium">Owner: {{data['owner_name']}}</span>
                        <span class="tag is-info is-medium">Server Count: {{data['guilds']}}</span>
                        
                        
                        <a href="{{data['website']}}"><span class="tag is-info is-medium">Website</span></a>
                        
                        
                        <a href="https://discord.gg/{{data['support_server']}}"><span class="tag is-info is-medium">Support Server</span></a>
                        
                        <br><br><a href="{{data['invite_url']}}"><span class="tag is-link is-medium">Invite</span></a>
                        <a id="buttonrep" class="tag is-link is-medium">Rep: {{data['rep']}}</a>
                        <br><br>
                        </div>
                    </div>
            </section>
            <br>
            <div class="container" style="outline: 5px solid #23272A; outline-offset: 8px;">
                    <div style="background-color: solid grey" class="content">
                        <section>
                                <span class="subtitle">{{data['description']}}</span>
                        </section>
                    </div>
                </div>
  </body>

<script>
    var pathArray = window.location.pathname.split('/');
    $("#buttonrep").click(function(){
        send = $.ajax({
        url: `/api/rep/${pathArray[2]}`,
        method: 'GET',
        });
        document.location.reload()
    });
</script>
</html>