<!DOCTYPE html>
<html>
    {% include 'full-page.html' %}
    {% include 'navbar.html' %}
  <body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
            <h1 class="title">
                All bots.
            </h1>
            <h2 class="subtitle">
                <br>
                <div class="field has-addons">
                    <div class="control">
                        <input id="search" class="input" type="text" placeholder="Find a bot.">
                    </div>
                    <div class="control">
                        <a id="buttonsearch" class="button is-info">
                        Search
                        </a>
                    </div>
                </div>
            </h2>
            </div>
        </div>
    </section>
    <br>
    <div style="padding-left: 5vh; padding-right: 5vh;" class="columns is-multiline is-centered">
        {% for bot in bots %}
        <div class="column is-one-quarter">
        <div class="card">
            <div class="card-content">
            <div class="media">
                <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{bot['profile_url']}}">
                </figure>
                </div>
                <div class="media-content">
                <p class="title is-4">
                    {{bot['name']}}
                </p>
                <p class="subtitle is-6">Servers: {{bot['guilds']}}</p>
                <p class="subtitle is-6">Rep: {{bot['rep']}}</p>
                </div>
            </div>
            <div class="content">
                    {{bot['description'] | truncate(25)}}
            </div>
            </div>
            <footer class="card-footer">
            <a href="/bot/{{bot['_id']}}" class="card-footer-item">View</a>
            <a href="{{bot['invite_url']}}" class="card-footer-item">Invite</a>
            </footer>
        </div>
        </div>
        {% endfor %}
    </div>
  </body>
  <script>
        $("#buttonsearch").click(function(){
            var search = document.getElementById('search').value;
            location.href = (`/bots/query=${search}`);
        });
    </script>
</html>
