<html>
  {% include 'full-page.html' %}
  {% include 'navbar.html' %}
  <body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
            <h1 class="title">
                Featured
            </h1>
            </div>
        </div>
    </section>
    <br>
    <div style="padding-left: 5vh; padding-right: 5vh;" class="columns is-multiline is-centered">
            {% for bot in bots %}
            <div class="column is-one-quarter">
            <div class="card">
                <div class="card-content">
                <div class="media">
                    <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{{bot['profile_url']}}">
                    </figure>
                    </div>
                    <div class="media-content">
                    <p class="title is-4">
                        {{bot['name']}}
                    </p>
                    </div>
                </div>
                <div class="content">
                        {{bot['description'] | truncate(25)}}
                </div>
                </div>
                <footer class="card-footer">
                <a href="/bot/{{bot['_id']}}" class="card-footer-item">View</a>
                <a href="{{bot['invite_url']}}" class="card-footer-item">Invite</a>
                </footer>
            </div>
            </div>
            {% endfor %}
    </div>
      <div class="columns is-mobile is-centered is-gapless">
          <div class="column is-1">
              <a href="/add" class="button is-link">Add your bot.</a>
          </div>
          <div class="column is-1">
              <a href="/bots" class="button is-link">View bots.</a>
          </div>
        </div>
  </body>
</html>
