<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://media.discordapp.net/attachments/397570114997977098/483121033004580874/kek2048kyswut2.png?width=559&height=559" alt="dislist" width="28" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/bots">
          Bots
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/add">
            Add Bot
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/api">
        API Docs
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            {% if session.get('oauth2_token') %}
            <a class="button is-white" href="/settings">
              <span class="icon">
                  <i class="fas fa-cog"></i>
              </span>
                <span>Settings</span>
            </a>
            <a class="button is-white" href="/user/me">
              <span class="icon">
                  <i class="fas fa-id-card"></i>
              </span>
                <span>Profile</span>
            </a>
              <a class="button is-white" href="/logout">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                  <span>Logout</span>
              </a>
            {% else %}
              <a class="button is-white" href="/login">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                  <span>Login</span>
              </a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
