<!DOCTYPE html>
<html>
  {% include 'full-page.html' %}
  {% include 'navbar.html' %}
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
              <div class="container">
              <figure class="image is-128x128">
                <img class='is-rounded' src="{{userdata['profile_url']}}">
              </figure>
              <h1 class="title">{{userdata['username']}}</h1>
              <h1 class="subtitle">{{userdata['description']}}</h1>
            </div>
      </div>
    </section>
    <section class="hero">
        <div class="hero-body">
                <div class="container">
                <h1 class="title">Bots</h1>
              </div>
        </div>
      </section>

    <div style="padding-left: 5vw; padding-right: 5vw;" class="columns is-multiline is-centered">
      {% for bot in bots %}
        <div class="column is-one-quarter">
        <div class="card">
            <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="is-rounded" src="{{bot['profile_url']}}">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 white">{{bot['name']}}</p>
                  <p class="subtitle is-6 white">Servers: {{bot['guilds']}}</p>
                  <p class="subtitle is-6 white">Rep: {{bot['rep']}}</p>
              </div>
            </div>
            <div class="content">
                {{bot['description']}}
            </div>
          </div>
            <footer class="card-footer">
            <a href="/bot/{{bot['_id']}}" class="card-footer-item">View</a>
          </footer>
        </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>