<!DOCTYPE html>
<html>
    {% include 'full-page.html' %}
    {% include 'navbar.html' %}
  <body>
      <section class="hero is-dark">
          <div class="hero-body">
              <div class="container">
              <h1 class="title">
                  Settings
              </h1>
              </div>
          </div>
      </section>
      <br>
      <div style="padding-left: 20vh; padding-right: 20vh;" class="column is-multiline is-centered">
        <h1 class="subtitle">API Token</h1>
        <pre>{{token}}</pre>
        <br>
        <br>
          <div class="control has-icons-left has-icons-right">
              <input id="bio" class="input is-medium" placeholder="{{settings}}">
              <span class="icon is-left">
                  <i class="far fa-address-card"></i>
              </span>
            </div>
            <br>
            <a id='buttonrep' class="button is-link">Save</a>
          </form>
      </div>
  </body>

  <script>
        $("#buttonrep").click(function(){
            send = $.ajax({
                "url": "https://bots.you-dont-see.me/api/settings/update",
                "method": "GET",
                "headers": {
                    "bio": document.getElementById('bio').value
                }
            });
            send.done(function() {
                document.location.reload()
            });
        });
    </script>

</html>